body {
	margin-top: 70px;
}

#footer {
	height: 20px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: 2px solid black;
	width: 960px;
	margin: auto;
	text-align: center;
	background: white;
}

#header {
	height: 70px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 960px;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	color: blue;
	background: white;
}

#header h1 {
	width: 700px;
	margin-left: 20px;
	float: left;
}

#mainBorder {
	width: 960px;
	border: 2px solid black;
	left: 0px;
	right: 0px;
	margin: auto;
	height: 825px;
	position: fixed;
}

#left-menu {
	width: 250px;
	background: #c6c9c6;
	float: left;
	position: fixed;
	margin-top: 5px;
	border-top: 1px dotted #808080;
	padding: 0 0px 30px 0px;
}

.content {
	width: 705px;
	height: 96%;
	padding: 30px;
	float: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px dotted gray;
	margin: 5px 5px 5px 0;
	overflow: auto;
	position: relative;
}

.content table {
	width: 100%;
	table-layout: fixed;
	word-break: break-all;
}

textarea{
	resize: none;
}

#newsTable {
	margin-top: 50px;
}

.menu {
	background: white;
	width: 150px;
	margin: 0 auto;
}

.menu li {
	padding: 5px;
}

.commentsRow {
	color: red;
}

.tagsRow {
	color: #6f6b6b;
}

.selectAuthor{
	margin: 0 5px 0 0;
	float: left;
}

.multiselectTags{
	margin: 0 5px 0 0;
	float: left;
}

.btn {
	width: 90px;
	height: 30px;
	margin: 0 5px 0 0;
	float: left;
}

.btn-save {
	width: 90px;
	height: 30px;
	float: left;
}

.newslist-container {
	margin: 30px 0 0 0;
	height: 550px;
}

.news-info {
	margin-top: 80px;
}

.news-title {
	width: 60%;
	font-weight: bold;
}

.news-author {
	width: 25%;
	float: left;
}

.news-date {
	width: 15%;
	float: right;
	text-decoration: underline;
}

.comment-date {
	float: left;
	text-decoration: underline;
}

.news-short-text {
	clear: both;
	padding: 20px 0 20px 0;
}

.news-full-text{
	clear: both;
	padding: 20px 0 20px 0;
}

.news-tags {
	float: right;
	width: 50%;
	text-align: right;
	color: #808080;
}

.news-tags span+span:BEFORE {
	content: ", ";
}

.news-comments {
	float: right;
	width: 20%;
	text-align: right;
	color: #ff0000;
}

.edit-news {
	float: right;
	width: 20%;
	text-align: right;
}

.marked-news {
	float: right;
}

.edit {
	padding: 20px 0 20px 0;
	width: 520px;
	margin: 0 auto;
}

.edit input {
	width: 200px;
	float: left;
}

.links {
	float: left;
}

.edit label {
	float: left;
	clear: both;
}

#newsTitle {
	width: 300px;
}

#newsCreationDate {
	width: 150px;
}

#newsShortText {
	width: 630px;
	height: 80px;
}

#newsFullText {
	width: 630px;
	height: 240px;
}

.pagination {
	width: 100%;
	height: 50px;
	background: #c6c9c6;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
}

.pagination a {
	padding: 3px 6px 3px 6px;
	border-radius: 3px;
	margin: 5px;
	border: 1px solid black;
	display: inline-block;
	background: #ffffff;
	text-decoration: none;
}

.pagination a:hover {
	background: #646464;
	color: #ffffff;
}

.comments_block, .addComm {
	width: 500px;
}

.comments_block span {
	text-decoration: underline;
}

.comment {
	margin: 0 0 15px 0;
	background: #c6c9c6;
	width: 500px;
	position: relative;
}

.comment-text {
	width: 450px;
	padding: 10px 0 10px 0;
	margin-bottom: 15px;
	display: block;
}

.viewDate {
	text-decoration: underline;
}

.big_button {
	display: block;
	width: 100px;
	height: 35px;
	float: right;
}

.links {
	padding-right: 20px;
	float: left;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	border: 0px;
	background: none;
}

.linksCol {
	float: left;
	margin-bottom: 30px;
}

.textInput {
	margin: 0 30px 0 30px;
}

label {
	font-weight: bold;
}

.commentTextarea {
	width: 495px;
	height: 70px;
}

.closeButton {
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
}

.error input[type=text], .error textarea, .error select {
	border: 1px solid red;
}

.error {
	color: red;
}

.signin-container {
	margin: 0 auto;
	width: 160px;
}

.logout {
	width: 48px;
	float: right;
	margin: 0 0 0 12px;
}

.logout span {
	padding: 10px 30px;
}

.previous {
	display: block;
	float: left;
}

.next {
	display: block;
	float: right;
}

.signin-container {
	width: 300px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
	border: 1px solid black;
}

.signin-container form {
	margin: 0 auto;
	width: 167px;
}

.signin-container input {
	margin-top: 15px;
}

.signin-container input[type=submit] {
	float: right;
}

.lang {
	float: right;
	margin: 25px 25px 0 0;
}

.lang a+a:BEFORE {
	content: "";
	margin-left: 10px;
}

.header-info {
	width: 226px;
	float: right;
	line-height: 35px;
	margin: 0 14px 0 0;
}

.locale_btn {
	width: 100px;
	float: right;
}

.locale_btn a {
	float: right;
	margin: 0 10px 0 0;
}

.hello {
	float: left;
}

.deleteNewsForm input[type=submit] {
	float: right;
	padding: 10px;
	margin: 20px 0 0 0;
}

.prev-next {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0px;
	width: 100%;
}

.message-conteiner {
	color: #ff0000;
	font-size: xx-large;
	text-align: center;
}